body{
  background-image: url(./background.jpg);
}
.btn{
  color: rgb(21, 116, 12);
  border-radius: 5px;
  border-color: white;
  width: 70%;
}
#h2{
  font-family: 'Courier New', Courier, monospace;
}
